body{
   height: 100vh;
}
.fon{
    width: 100%;
    height: 400px;
    background-image: url(../img/dum.jpg);
    background-size: cover;
    background-position: center;
}
img{
    height: 100%;
    width: 100%;
    
}
.gridbox{
    height: 60%;
    margin-top: -320px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  1fr 1fr;
    grid-gap: 15px;
    grid-template-areas:    
                            "f name name "
                            "f t n";
}
.foto{
    grid-area:f;
}
.name{
    grid-area:name;
   
    justify-content: center;
    border-bottom: 1px solid grey;
}
.t{
    grid-area: t;
    
}
.n{
    grid-area:n;
    
}
.contacts{
    padding: 25px;
    font-size: 35px;
    text-align: center;
    height: 100px;
}
.knopka{
  
    margin: 20px 45%;

}
.text{
    font-size: 24px;
    text-align: justify;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  1fr;
    grid-gap: 15px;
    grid-template-areas:    
                            "a d" ;
}
.a{
    grid-area: a;
}
.d{
    grid-area: d;
}

