.dil{
    margin: 20vh 40vh;
    height: 60vh;
}

.avatar{
    width: 30%;
}
.info{
    
    width: 60%;
}
.box{
 width: 33.33%;
 height: 100%;
}

.top{
    height: 50%;
}
.bottom{
    height: 50%; 
    
}


.foto{
    width: 100px;
    height: 100px;
    
    margin: auto;
    border-radius: 50px;
    
    background: url(../img/photo.jpg);
    background-size: cover;
    background-position: center;
}
.btn{
    width: 50%;
    margin-left: 25%;
}
